<html>
    <head>
        <title>{{ title }}</title>
        <link rel='stylesheet.css' href='/vendor/bootstrap/dist/css/bootstrap.css'/>
    </head>
    <body>
        <div class = 'container'>
            <h1>{{ title }} </h1>
            <ul class 'nav nav-tabs'>
                <li class='nav-item'>
                    <a href='/' class='nav-link{% if path === '/'%} active {% endif %}'>Home</a>
                </li>
                <li>
                    <a href='/tweets' class='nav-link{% if path === '/tweets'%} active {% endif %}'>Tweets</a>
                </li>
            </ul>
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>